# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azure Functions Core Tools
.azurefunctions/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Node
node_modules/
dist/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Azure
*.PublishSettings
